<nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-5">
        <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
        <li class="breadcrumb-item dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/contact">Contact</a></li>
                <li><a class="dropdown-item" href="/login">Sign In</a></li>
            </ul>
        </li>
    </ol>
</nav>