

    <section class="header py-5" style="height: 600px;">
        <div class="container">
            <div class="jumbotron text-center position-relative" style="background-color: transparent;">
                <div class="d-flex flex-column justify-content-center align-items-center top-0 start-0 end-0 bottom-0">
                    <img src="../images/pinkplane.png" alt="" class="img-fluid about-img"> 
                    <p class=" text-end fw-bold text-about">About Flying Odessey</p>        
                </div>
              </div>
        </div>
    </section>
    
    <section class="about">
    <div class="row mx-5">
        <!-- First Card - Airlines Fly orizon Corporate Profile -->
        <div class="col-md-3 mt-5">
          <div class="card mt-5" style="height: 400px;">
            <img src="../images/flamingopink.jpeg" class="card-img-top" alt="Airlines Profile" style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title">Fly Orizon Corporate Profile</h5>
              <p class="card-text">Fly Orizon is Jamaica's largest airline, and provides direct service to six continents. 
                It is the only international network carrier in the Caribbean to receive a Five-Star ranking from Skytrax.</p>
            </div>
          </div>
        </div>
      
        <!-- Second Card - orizon Fleets -->
        <div class="col-md-3 mt-5">
          <div class="card mt-5" style="height: 400px;">
            <img src="../images/plane1.jpeg" class="card-img-top" alt="Horizon Fleets" style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title">Orizon Fleets</h5>
              <p class="card-text"> Fly Orizon fleet of more than 400 aircraft is one of the youngest, most fuel efficient and environmentally friendly in the world.</p>
            </div>
          </div>
        </div>
      
        <!-- Third Card - Our Privacy Act -->
        <div class="col-md-3 mt-5">
          <div class="card mt-5" style="height: 400px;">
            <img src="../images/privacy.jpeg" class="card-img-top" alt="Privacy Act" style="height: 200px;">
            <div class="card-body">
              <h5 class="card-title">Our Privacy Act</h5>
              <p class="card-text">At Fly Orizon, we are committed to protecting the privacy and security of our customers', we know you care how we collect and use data.
                </p>
            </div>
          </div>
        </div>
      
        <!-- Fourth Card - Fly orizon Passenger Care -->
        <div class="col-md-3 mt-5">
          <div class="card mt-5" style="height: 400px;">
            <img src="../images/planemap.jpeg" class="card-img-top" alt="Passenger Care">
            <div class="card-body">
              <h5 class="card-title">Fly Orizon Media Hub</h5>
              <p class="card-text">Discover a treasure trove of resources designed to keep you informed and inspired. Check press releases and press kits. </p>
            </div>
          </div>
        </div>
      </div>
      
           <!-- Small Column for Links -->
           <div class="col-md-3 mt-5">
            <!-- Links Section -->
            <div class="links-section mx-5">
              <h2>More Options</h2>
              <ul>
                <li><a href="#">Airhub Flight Tracker Partnership</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Passenger Care</a></li>
                <li><a href="#">Orizon's Involvements</a></li>
              </ul>
            </div>
          </div>
        </section>

       
          
             <!-- gallery-->
    <%- include('gallery') %>
          