<div class="container-form mt-5 text-center">
    <h1>Form Submission</h1>
    <p>Thank you for contacting us. Here is the information you provided, please check if this is what you wanted to send us.</p>
    <ul>
        <li><strong>Name:</strong> <%= name %></li>
        <li><strong>Email:</strong> <%= email %></li>
        <li><strong>Message:</strong> <%= message %></li>
    </ul>
</div>

  