<section class="team">
    <div class="container">
      <div class="row">
          
        <!-- 1st Image -->
        <div class="col-md-3 mb-4">
          <img src="../images/about6.jpeg" class="img-fluid" alt="Pilot">
          <div class="caption">
            <h5>Orizon Commercial Pilots</h5>
            <p>Meet our skilled and experienced pilots who ensure safe and smooth flights.</p>
          </div>
        </div>
             <!-- 2nd Image -->
             <div class="col-md-3 mb-4">
              <img src="../images/about5.jpeg" class="img-fluid" alt="Pilot">
              <div class="caption">
                <h5>Orizon Domestic Flights</h5>
                <p>Meet our skilled and experienced pilots who ensure safe and smooth flights in a 10mi radius</p>
              </div>
            </div>
        <!-- 3rd Image -->
        <div class="col-md-3 mb-4">
          <img src="../images/about4.jpeg" class="img-fluid" alt="Flight Attendant">
          <div class="caption">
            <h5>Orizon 1st Island Hoppers</h5>
            <p>Meet our #1 Island hopper companions! World class backpackers make it easy!</p>
          </div>
        </div>
   
        <!-- 4th Image -->
        <div class="col-md-3 mb-4">
          <img src="../images/about3.jpeg" class="img-fluid" alt="Flight Attendant">
          <div class="caption">
            <h5>Odessey Flight Attendants</h5>
            <p>Our friendly and attentive flight attendants are here to make your journey comfortable and enjoyable.</p>
          </div>
        </div>
      </div>
    </div>
  </section>