
<link rel="stylesheet" href="/css/style.css">

<section class="header py-5" style="height: 600px;">
    <div class="container">
        <div class="jumbotron text-center position-relative" style="margin-top: 50px;">
            <div class="d-flex flex-column justify-content-center align-items-center top-0 start-0 end-0 bottom-0">
                <img src="../images/home.png" alt="" class="img-fluid rounded mx-auto d-block" style="max-width: 100%;"> 
                <p class=" text-end fw-bold text">Orizon Airline proudly raises the bar 
                    and exceeds the standard for luxury and commercial services. We pride ourselves on offering a professional service.

                </p>        
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center position-relative top-0 start-0 end-0 bottom-0">
                <button class="btn btn-lg button" style="background-color: var(--dark-pink);"><i class="fa-solid fa-plane-departure icon"></i> Book Now</button>
            </div>
          </div>
    </div>
</section>


 <!-- Form -->
 <%- include('booking') %>

 <section class="features-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-wifi fa-3x addon-icon mb-3"></i>
                        <h5 class="card-title">Free Wi-Fi</h5>
                        <p class="card-text">Stay connected throughout your flight with complimentary Wi-Fi.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fas fa-utensils fa-3x addon-icon mb-3"></i>
                        <h5 class="card-title">Delicious Food</h5>
                        <p class="card-text">Enjoy a variety of delicious meals served during your flight.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa-solid fa-globe fa-3x addon-icon mb-3"></i>
                        <h5 class="card-title">Experience</h5>
                        <p class="card-text">Make your choices with Orizonluxury, or have it all with OrizonOdessey</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="highlights-section py-5">
    <div class="container">
        <h1 class="text-center mb-4">Orizonlights</h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <img src="../images/vacation.jpeg" class="card-img" alt="image">
                </div>
                <h5 class="mt-2">See what's new in the Caribbean!</h5>
                <a href="#" class="btn btn-type mt-3 align-self-center">Book Now</a>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <img src="../images/image1.jpeg" class="card-img" alt="image">   
                </div>
                <h5 class="mt-2">Island Hop with us!</h5>
                <a href="#" class="btn btn-type mt-3 align-self-center">Book Now</a>
            </div>
        </div>
    </div>
</section>

<section class="featured-destinations-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-4">Featured Destinations</h1>
            </div>
        </div>
        <a href="#" class="btn btn-type mb-3">View All Destinations</a>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img src="../images/image2.jpeg" class="card-img-top" alt="Destination 1">
                    <div class="card-body">
                        <h5 class="card-title">The Bahamas</h5>
                        <p class="card-text">Pristine beaches, tropical paradise.</p>
                        <a href="#" class="btn btn-travel">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img src="../images/image3.jpeg" class="card-img-top" alt="Destination 2">
                    <div class="card-body">
                        <h5 class="card-title">London, UK</h5>
                        <p class="card-text">Iconic landmarks, diverse culture.</p>
                        <a href="#" class="btn btn-travel">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img src="../images/image6.jpeg" class="card-img-top" alt="Destination 3">
                    <div class="card-body">
                        <h5 class="card-title">Portugal</h5>
                        <p class="card-text">Rich history, scenic landscapes.</p>
                        <a href="#" class="btn btn-travel">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img src="../images/image5.jpeg" class="card-img-top" alt="Destination 4">
                    <div class="card-body">
                        <h5 class="card-title">Jamaica</h5>
                        <p class="card-text">Vibrant culture, stunning beaches</p>
                        <a href="#" class="btn btn-travel">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="more-travel-options-section py-5" style="background-color: #5acbd9;">
    <div class="container">
        <h1 class="text-center mb-4">More Travel Options</h1>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../images/image7.jpeg" class="options rounded-circle mb-3" alt="Horizon Passes">
                        <h5 class="card-title">Orizon Odessey</h5>
                        <p class="card-text">Love traveling in luxury? Unlock new destinations with Orizon Passes today!</p>
                        <a href="#" class="btn btn-type">Find Passes</a>
                        <a href="travel-options.html"><i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../images/image10.jpeg" class="options rounded-circle mb-3" alt="Horizon Partnership">
                        <h5 class="card-title">Orizon Partnership with Airhub</h5>
                        <p class="card-text">Orizon collaborates with Airhub for enhanced services like tracking your flights & more!</p>
                        <a href="#" class="btn btn-type">Track Your Flight</a>
                        <a href="travel-options.html"><i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="../images/image8.jpeg" class="options rounded-circle mb-3" alt="Horizon Hop">
                        <h5 class="card-title">Orizon Hop</h5>
                        <p class="card-text">Island hopping: Explore multiple caribbean islands, each with a unique culture and landscapes.</p>
                        <a href="#" class="btn btn-type">OrizonHopper</a>
                        <a href="travel-options.html"><i class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="addons-section py-5">
    <div class="container">
        <h1 class="text-center mb-4">Add Ons</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Car Rentals</h5>
                        <i class="fas fa-car addon-icon"></i> 
                        <p class="card-text">Rent a car for your trip with ease.</p>
                        <a href="#" class="btn btn-outline-dark">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Travel Insurance</h5>
                        <i class="fas fa-shield-alt addon-icon"></i> 
                        <p class="card-text">Stay protected during your travels.</p>
                        <a href="#" class="btn btn-outline-dark">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Baggage</h5>
                        <i class="fas fa-suitcase addon-icon"></i> 
                        <p class="card-text">Travel light or pack as much as you need.</p>
                        <a href="#" class="btn btn-outline-dark">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/booking_form.js"></script>