

<section class="header py-5" style="height: 600px;">
    <div class="container">
        <div class="jumbotron text-center position-relative" style="margin-top: -100px;">
            <div class="d-flex flex-column justify-content-center align-items-center top-0 start-0 end-0 bottom-0">
                <img src="../images/paperplane.png" alt="" class="img-fluid rounded mx-auto d-block tracker-img"> 
                <p class=" text-end fw-bold text-tracker">Manage Your Flight</p>        
            </div>
          </div>
    </div>
</section>

<section class="card-section mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 400px;">
                    <img src="../images/booking.jpg" class="card-img-top" alt="My Bookings" style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">My Bookings</h5>
                        <p class="card-text">View and manage your bookings.</p>
                        <a href="#" class="btn btn-travel">Check My Bookings</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 400px;">
                    <img src="../images/checkin.jpg" class="card-img-top" alt="Web Check-In" style="width: 100%; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Web Check-In</h5>
                        <p class="card-text">Check-in online for your flight.</p>
                        <a href="#" class="btn btn-travel">Check-In</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 400px;">
                    <img src="../images/tracking.jpg" class="card-img-top" alt="Track My Flight" style="width: 100%; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Track My Flight</h5>
                        <p class="card-text">Get real-time flight status updates.</p>
                        <a href="#" class="btn btn-travel">Track My Flight</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
