

<section class="header py-5" style="height: 600px;">
    <div class="container">
        <div class="jumbotron text-center position-relative" style="margin-top: -100px;">
            <div class="d-flex flex-column justify-content-center align-items-center top-0 start-0 end-0 bottom-0">
                <img src="../images/travelinfo.png" alt="" class="img-fluid rounded mx-auto d-block" style="width: 60%;"> 
                <p class=" text-end fw-bold text-travel">Flying Odessey</p>        
            </div>
          </div>
    </div>
</section>

<section class="travel-info-section bg-salmon py-5 mt-5">
    <div class="container">
        <div class="row">
            <h3 class="text-center mb-5">Be in the <b>know</b> not just the Orizon</h3>
            <div class="col-md-3">
                <h6 class=" travel-info mb-3">NOT BEFORE BOARDING</h6>
                <hr>
                <ul>
                    <a href=""><li>Travel Info Centre</li></a>
                    <a href=""><li>Check-In Information</li></a>
                    <a href=""><li>Travel Documents and Regulations</li></a>
                    <a href=""><li>At the Airport</li></a>
                    <a href=""><li>Travel Alerts and Advisories</li></a>
                    <a href=""><li>Healthy Flights</li></a>
                    <a href=""><li>Travel Disruptions</li></a>
                    <a href=""><li>Baggage</li></a>
                    <a href=""><li>Carry-On Baggage</li></a>
                    <a href=""><li>Checked Baggage</li></a>
                    <a href=""><li>Delayed or Damaged Baggage</li></a>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class=" travel-info mb-3">SPECIAL TRAVEL NEEDS</h6>
                <hr>
                <ul>
                    <a href=""><li>Disability Assistance</li></a>
                    <a href=""><li>Travelling with Pets</li></a>
                    <a href=""><li>Children, Infants and Expectant Mothers</li></a>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class=" travel-info mb-3">ONBOARD</h6>
                <hr>
                <ul>
                    <a href=""><li>Inflight Experience</li></a>
                    <a href=""><li>ORIZONHop</li></a>
                    <a href=""><li>ORIZONClassic</li></a>
                    <a href=""><li>Seating Options</li></a>
                    <a href=""><li>Seat Map</li></a>
                    <a href=""><li>Food & Drinks</li></a>
                    <a href=""><li>Onboard Wi-Fi</li></a>
                    <a href=""><li>In-flight Entertainment</li></a>
                    <a href=""><li>re:ORIZON Magazine</li></a>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class=" travel-info mb-3">NEED HELP?</h6>
                <hr>
                <ul>
                    <a href="#"><li>FAQs</li></a>
                    <a href=""><li>Help & Contact</li></a>
                </ul>
            </div>
        </div>
    </div>
</section>


